<div class="search-product">
  <div class="container">
    <input
      type="text"
      placeholder="Search product by title"
      [ngModel]="searchText"
      (ngModelChange)="applyFilter($event)"
      class="searchBar"
    />
  </div>
  <div class="changeSize">
    <div class="changeSizeSelect">
      <label for="pageSize">Results per page:</label>
      <select
        id="pageSize"
        [ngModel]="pageSize"
        (ngModelChange)="onPageSizeChange($event)"
      >
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select>
    </div>
  </div>
</div>
