<div class="product-container" *ngFor="let product of displayedProducts">
  <div (click)="openProductModal(product.id)">
    <app-product [product]="product"></app-product>
  </div>
  <div class="buttons-container">
    <app-stock-operations-buttons
      class="buttons"
      [product]="product"
    ></app-stock-operations-buttons>
  </div>
</div>

<div class="pagination">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>
