.product-list {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
  // max-width: fit-content;
  row-gap: 20px;
  padding: 0;
  width: 100%;
}

.pagination {
  margin-top: 40px;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}

.product-container {
  position: relative;

  .buttons-container {
    position: absolute;
    width: 100%;
    left: 210px;
    bottom: 0;
    .buttons {
      position: absolute;
      bottom: 0;
    }
  }
}
