<div (click)="openProductModal(product.id)">
  <div *ngIf="!inCart; else inCartTemplate">
    <div class="product">
      <div class="product-content">
        <div class="product-image">
          <img [src]="product.images[0]" alt="Image of {{ product.title }}" />
        </div>

        <div class="product-desc">
          <div class="title">Title: {{ product.title }}</div>
          <div class="price">Price: {{ product.price | currencyFormat }}</div>
          <div class="stock">Stock: {{ product.stock }}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #inCartTemplate>
    <div class="product">
      <div class="product-content">
        <div class="product-image">
          <img [src]="product.images[0]" alt="Image of {{ product.title }}" />
        </div>

        <div class="product-desc">
          <div class="title">Title: {{ product.title }}</div>
          <div class="price">Price: {{ product.price | currencyFormat }}</div>
          <div class="stock">Quantity: {{ quantity }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
