<div class="modal-header">
  <h4 class="modal-title">Cart Details</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="inCartProducts.length > 0; else emptyTemplate">
    <div class="product-container" *ngFor="let inCartProduct of inCartProducts">
      <app-product
        [product]="inCartProduct.product"
        [inCart]="true"
        [quantity]="inCartProduct.quantity"
      ></app-product>
      <div class="buttons-container">
        <app-stock-operations-buttons
          class="buttons"
          [product]="inCartProduct.product"
        ></app-stock-operations-buttons>
      </div>
    </div>
  </div>
  <ng-template #emptyTemplate> No Products </ng-template>
</div>
<div class="modal-footer">
  <div>Total price : {{ totalCartPrice }}</div>
  <div class="stock-operations">
    <button class="add">Checkout</button>
    <button class="remove">Cancel</button>
  </div>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
